* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    border: 1px solid;
    padding: 60px 200px
}

.about_main {
    display: flex;

}

.about_socials {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}