* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    padding: 40px;
}

.about_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about_socials {
    display: flex;
    justify-content: space-evenly;
}


