* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.projects {
    position: relative;
    border: 1px solid;
    padding: 40px;
}

.projects_container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    border: 1px solid;
    gap: 5px;
}

.projects_item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted;
}